* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.clearfix::after {
   content:"";
   display: table;
   clear: both;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: rgb(245,248,250);

}

.navbar {
    height: 70px;
    background-color: rgb(255,255,255);
}

.rosa {
    height: 400px;
    background-color: rgb(255,242,238);
}

.azzurro {
    height: 70px;
    background-color: rgb(169,234,226);
    border-top: 3px solid rgb(51,71,92);
    border-bottom: 3px solid rgb(51,71,92);
}

.grigio {
    height: 800px;
    background-color: rgb(245,248,250);
}

.sfumato {
    height: 400px;
    background-color: rgb(0,175,178);
}

.bianco {
    height: 400px;
    background-color: #FFFFFF;
}

.blu {
    height: 400px;
    background-color: rgb(51,71,91);
}

.container {
    font-family: 'Rubik', sans-serif;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
        /* da cancellare */
    height: 100%;
    /* border: 1px solid black; */
}
/* controllare le altezze */
/* FINE MACROSTRUTTURA */

/* MENU FISSO */
.selettore-lingua{
    float: left;
    line-height: 70px;
    padding-right: 20px;
}

.selettore-lingua hr {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.login {
    float: right;
    line-height: 70px;
}

.login i {
    color: rgb(9,167,191)
}

button.log {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    border: 1px solid rgb(255,122,89);
    color:  rgb(255,122,89);
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 15px;
    margin-right: 15px;
}

button.free {
    color: white;
    background-color: rgb(255,122,89);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}
/* MENU NAV */
/* Valutare se mettere img senza contenitore */
#logo {
    width: 15%;
    height: 100%;
    float: left;
    /* da cancellare */
    /* border: 1px solid red; */
}

#logo img {
    width: 136px;
    height: 62px;
    position: relative;
    top: 4px;
    object-fit: cover;
    object-position: center;
}

.menu {
    width: 50%;
    height: 100%;
    float: right;
    line-height: 70px;
    font-size: 15px;
    /* padding-left: 20px; */
    /* da cancellare */
    /* border: 1px solid red; */
}

.menu li {
    display: inline;
    padding: 6px;
}
/* FINE MENU NAV */

/* HEADER */
.jumbotron {
    width: 50%;
    height: 100%;
    position: relative;
    /* da cancellare */
    /* border: 1px solid red; */
}

.testo-jumbotron {
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

p.grande {
    font-size: 15px;
    margin-bottom: 30px;
}

.GetHubspotFree {
    font-size: 15px;
    color: white;
    background-color: rgb(255,122,89);
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
    margin-bottom: 30px;
}

p.piccolo {
    font-size: 10px;
}
/* FINE HEADER */

/* MAIN PRIMA SECTION */
.megabox {
    width: 100%;
    /* da cancellare */
    height: 50%;
    border: 1px solid yellow;
}

.horizontal {
    width: 100%;
    height: 50%;
    /* da cancellare */
    border: 1px solid red;
}

.box {
    width: 33.3333%;
    height: 100%;
    float: left;
    /* position: relative; */
    /* canc */
    border: 1px solid blue;
}

.uno {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.due {
    padding: 20px 10px;
}

.tre {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.minibox {
    width: 100%;
    height: 100%;
    border: 1px solid green;
}
/* FINE PRIMA SECTION MAIN */

/* MAIN SECONDA SECTION */
.banner {
    /* canc */
    height: 33.3333%;
    border: 1px solid black;
}

.tabella {
    /* canc */
    height: 55%;
    border: 1px solid yellow;
}

.card {
    width: 25%;
    height: 50%;
    float: left;
    border: 1px solid red;
}
/* fine seconda section */

/* MAIN TERZA SECTION */
.row-first{
    /* canc */
    height: 40%;
    border: 1px solid blue;
}

.customers {
    width: 45%;
    float: left;
    /* canc */
    border: 1px solid pink;
    height: 100%;
}

.loghi {
    width: 50%;
    float: left;
        /* canc */
    border: 1px solid green;
    height: 100%;
}

.row-second {
    /* canc */
    height: 60%;
    border: 1px solid blue;
}

.start {
    width: 45%;
    float: left;
    /* canc */
    height: 100%;
    border: 1px solid green;
}

.smile {
    width: 55%;
    float: left;
    /* canc */
    height: 100%;
    border: 1px solid pink;
}
/* fine terza section main */

/* INIZIO FOOTER */
.row-prima {
    /* canc */
    height: 60%;
    border: 1px solid white;

}

.elenco {
    width: 22%;
    display: inline-block;
    padding-left: 20px;
    /* canc */
    height: 100%;
    border: 1px solid yellow;
}

.row-seconda {
    margin-top: 40px;
    /* canc */
    height: 40%;
    border: 1px solid white;
}

.lingue {
    /* canc */
    height: 20%;
    border: 1px solid yellow;
}

hr {
    color: white;
    margin: 10px 0;
}

.pièdipagina {
    /* cancellare */
    height: 80%;
    border: 1px solid orange;
}

.copyright {
    width: 30%;
    float: left;
    /* canc */
    height: 100%;
    border: 1px solid white;
}

.legal {
    width: 30%;
    float: right;
    /* canc */
    height: 100%;
    border:  1px solid white;
}
/* fine footer */
