* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.clearfix::after {
   content:"";
   display: table;
   clear: both;
}


.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(245,248,250);
    border-bottom: 1px solid rgb(203,214,226);
    z-index: 1;
}

.navbar {
    margin-top: 80px;
    background-color: rgb(255,255,255);
}

.rosa {
    height: 500px;
    background-color: rgb(255,242,238);

}

.azzurro img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 434px;
}


.azzurro {
    position: relative;
    height: 70px;
    background-color: rgb(169,234,226);
    border-top: 3px solid rgb(51,71,92);
    border-bottom: 3px solid rgb(51,71,92);
}

.grigio {
    background-color: rgb(245,248,250);
}

.sfumato {
    background-image: linear-gradient(to top right, rgb(0,164,189), rgb(0,188,165));
    color: white;
}

.bianco {
    background-color: #FFFFFF;
}

.blu {
    background-color: rgb(51,71,91);
}

.container {
    font-family: 'Rubik', sans-serif;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

/* FINE MACROSTRUTTURA */

/* MENU FISSO */
.selettore-lingua{
    float: left;
    line-height: 70px;
    padding: 0 20px;
}

.aba {
    display: inline-block;
    position: relative;
}

.aba ul:hover .aba{
    display: block;

}

.aba ul {
    list-style: none;
    position: absolute;
    width: 100%;
    line-height: normal;
    top: 90%;
    left: 0;
    padding: 10px 0;
    background-color: white;
    border: 1px solid rgb(203,214,226);
    display: none;
}

.aba li {
    padding: 5px;
}

.aba li:hover {
    background-color: azure;
}

.aba li a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.freccia {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 83%;
    left: 75%;
    background-color: white;
    transform: rotate(45deg);
    border-top: 1px solid rgb(203,214,226);
    border-left: 1px solid rgb(203,214,226);
    display: none;
}


.selettore-lingua hr {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.login {
    float: right;
    line-height: 70px;
}

.login i {
    color: rgb(9,167,191)
}

button.log {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    border: 1px solid rgb(255,122,89);
    color:  rgb(255,122,89);
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 15px;
    margin-right: 15px;
}

button.free {
    color: white;
    background-color: rgb(255,122,89);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}

/* MENU NAV */
#logo {
    width: 15%;
    height: 99%;
    float: left;
}

#logo img {
    width: 136px;
    height: 62px;
    position: relative;
    top: 4px;
    object-fit: contain;
    object-position: center;
}

.menu {
    width: 50%;
    height: 100%;
    float: right;
    line-height: 70px;
    font-size: 15px;
}

.menu li {
    display: inline;
    padding: 6px;
}
/* FINE MENU NAV */

/* HEADER */


.jumbotron {
    /* float: left; */
    width: 50%;
    height: 100%;
    position: relative;
}

.testo-jumbotron {
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

p.grande {
    font-size: 15px;
    margin-bottom: 30px;
}

.GetHubspotFree {
    font-size: 15px;
    color: white;
    background-color: rgb(255,122,89);
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
    margin-bottom: 30px;
}

p.piccolo {
    font-size: 10px;
}

/* FINE HEADER */

/* MAIN PRIMA SECTION */




.powerful {
    text-align: center;
    object-position: center;
    padding: 20px 0;
}

.powerful img {
    width: 151px;
    height: 115px;
}

.powerful h2 {
     margin-bottom: 20px;
 }

.powerful p {
     font-size: 13px;
     padding: 0 120px;
 }

.free {
    background-color: white;
    border-radius: 5px;
}

.free-left {
    width: 33.3333%;
    object-position: center;
    text-align: center;
    float: left;
    padding: 40px 0 40px;
}

.free-left img {
    width: 130px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

button {
    color: white;
    background-color: rgb(255,122,89);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}

.free-right {
    float: left;
    width: 66.6666%;
    padding: 40px 0 40px;
}

.free-right h3 {
    margin-bottom: 20px;
}

.free-right p {
    font-size: 13px;
    margin-bottom: 20px;
    padding-right: 60px;
}

.hr{
    position: relative;
    margin-bottom: 20px;
}

.free-right strong {
    font-size: 14px;
}

.free-right hr {
    width: 60%;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translate(-50%, -50%);
}

.free-right li {
    font-size: 13px;
    display: inline;
    padding-right: 10px;
    margin-top: 20px;
}

.grigio li i {
    color: rgb(255,122,89);
}

.box {
    width: 33.3333%;
    float: left;
    margin-bottom: 20px;
}

.uno {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.due {
    padding: 20px 10px;
}

.tre {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.minibox {
    width: 100%;
    text-align: center;
    object-position: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.minibox img {
    width: auto;
    height: 102px;
    margin: 0 auto;
}

.minibox h3{
    margin: 10px 0 20px;
}

.minibox p {
    font-size: 13px;
    margin-bottom: 40px;
}

.minibox strong {
    font-size: 14px;
    margin: 20px 0;
    display: inline-block;

}

.minibox ul {
    text-align: left;
    list-style: none;
    font-size: 13px;
    margin-bottom: 40px;

}
/* FINE PRIMA SECTION MAIN */

/* MAIN SECONDA SECTION */
/* SISTEMARE IMMAGINI NELLA TABELLA */
.banner {
    text-align: center;
    padding: 40px;
}

.banner h2 {
    margin-bottom: 20px;
}

.banner p {
    font-size: 13px;
}

.tabella {
padding-bottom: 60px;
}

.card {
    width: 25%;
    float: left;
    object-position: center;
    text-align: center;
    padding: 20px 50px;
}

.card img {
    width: auto;
    height: 30px;
    margin: 0 auto;
    display: block;
}

.card strong{
    display: inline-block;
    font-size: 40px;
}

.card span {
    position: relative;
    bottom: 8px;
}

.card  p {
    font-size: 12px;
}

.one,.two,.three,.four {
    border-bottom: 1px solid white;
}

.one,.two,.three,.five,.six,.seven {
    border-right: 1px solid white;
}
/* fine seconda section */

/* MAIN TERZA SECTION */

.customers {
    width: 45%;
    float: left;
    text-align: center;
    padding: 40px 130px;
}

.customers h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.customers p {
    font-size: 13px;
}

.loghi {
    width: 50%;
    float: left;
    padding: 20px;
}

.carta {
    position: relative;
    width: 25%;
    height: 50%;
    padding: 20px;
    float: left;
    object-position: center;
}

.carta img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    padding: 20px;
}

.start {
    width: 45%;
    float: left;
    padding: 20px 0;
}

.start p {
    margin: 40px 0;
    font-size: 13px;
}

.start .fondo  {
    font-size: 10px;
}

.smile {
    width: 55%;
    float: left;
}

.smile img {
    position: relative;
    left: 300px;
    width: auto;
    height: 270px;
}
/* fine terza section main */

/* INIZIO FOOTER */
.row-prima {
    color: white;
    font-size: 13px;
    padding-top: 20px;
}

.row-prima h4 {
    margin-bottom: 20px;
}

.blu ul {
    list-style: none;
}

.row-prima li {
    padding: 5px 0;
}

.blu a {
    font-family: 'Rubik', sans-serif;
    color: white;
    text-decoration: none;
}

.elenco {
    width: 22%;
    float: left;
    padding-right: 20px;
}

.elenco button {
    color: rgb(51,71,91);
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 15px 0;
}

.social li {
    display: inline;
    padding: 0 10px;
}

.lingue {
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
}

.lingue li {
    display: inline;
    padding: 0 10px;
}

hr {
    color: white;
    margin: 10px 0;
}

.pièdipagina {
    padding: 30px 0;
}

.copyright {
    width: 30%;
    float: left;
    color: white;
}

 .copyright p {
     font-size: 13px;
 }

.legal {
    font-size: 13px;
    width: 30%;
    float: right;
}

.legal ul {
    float: right;
}

.stuff {
    margin-right: 20px;
}

.legal li {
    display: inline;
}

a:hover{
    color: lightblue;
}
/* fine footer */
